@using FleetBook.Models
@rendermode InteractiveServer

<div class="modal @ModalClass" tabindex="-1" style="display:@ModalDisplay">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nowa rezerwacja</h5>
                <button type="button" class="btn-close" @onclick="Close"></button>
            </div>
            <div class="modal-body">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Samochód</label>
            <select class="form-select" @bind="selectedCarId">
                <option value="0">Wybierz samochód...</option>
                @if (Cars != null)
                {
                    @foreach (var car in Cars)
                    {
                        <option value="@car.Id">@car.Marka @car.Model (@car.Rejestracja)</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Użytkownik</label>
            <select class="form-select" @bind="selectedUserId">
                <option value="0">Wybierz użytkownika...</option>
                @if (Users != null)
                {
                    @foreach (var user in Users)
                    {
                        <option value="@user.Id">@user.Imie @user.Nazwisko (@user.Email)</option>
                    }
                }
            </select>
        </div>
    </div>
</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" @onclick="Close">Anuluj</button>
                <button class="btn btn-primary" @onclick="Save" disabled="@(selectedCarId == 0 || selectedUserId == 0)">
                    Zapisz rezerwację
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public List<Car>? Cars { get; set; }
    [Parameter] public List<User>? Users { get; set; }
    [Parameter] public EventCallback<Reservation> OnSave { get; set; }
    
    private string ModalDisplay = "none";
    private string ModalClass = "";
    private int selectedCarId = 0;
    private int selectedUserId = 0;

    public void Open()
    {
        selectedCarId = 0;
        selectedUserId = 0;
        ModalDisplay = "block";
        ModalClass = "show";
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
    }

    private async Task Save()
    {
        if (selectedCarId > 0 && selectedUserId > 0)
        {
            var reservation = new Reservation
            {
                CarId = selectedCarId,
                UserId = selectedUserId,
                DataRezerwacji = DateTime.Now
            };
            await OnSave.InvokeAsync(reservation);
        }
        Close();
    }
}